@use "@sass/abstracts/mixins" as mix;

.row {
  width: 100%;
  align-items: center;
}

.iconCol {
  float: right;
  clear: both;
  text-align: right;
}

.header {
  background: #ffffff;
  box-shadow: 0 5px 20px #c0e5fc58;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: top 200ms ease;

  & > div {
    @include mix.to-flex($justify: space-between, $align: center);
    min-height: 88px;

    @include mix.mq("sm", min){
      width: 100%;
  
      div {
        width: inherit;
      }
    }

    > div,
    > div > div {
      min-height: inherit;
      display: flex;
      align-items: center;
    }
  }

  ul {
    padding: 20px 0;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;

    li {
      font-size: 16rem;
      color: #687aff;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;

      &:hover {
        color: #72b7e2;
      }

      @include mix.mq("sm", max){
        color: #030164;
        padding: 11px 16px 12px;
        text-align: left;
        width: 100%;
      }
    }
  }
}
