@use "@sass/abstracts/mixins" as mix;
@use "@sass/themes/default" as default;

.button {
  position: relative;
  display: inline-block;
  background: darken(#37539e, 1.5);
  color: #ffffff;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.button-primary {
  color: default.$primary-color;
  display: inline-block;
  position: relative;
  min-width: 215px;
  height: 54px;
  @include mix.linear-gradient(#fea05f, #fad590);

  &:hover {
    @include mix.linear-gradient(#fea05f, #c68916);
  }
}

.button-size-auto {
  font-size: 16rem;
  padding: 12px 12px;
}

.button-size-small {
  font-size: 16rem;
  padding: 12px 44px;
}

.button-size-medium {
  font-size: 20rem;
  padding: 15px 30px;
}
